asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.7
cloudinary==1.44.2
dj-database-url==3.1.2
Django==5.2.13
django-ckeditor==6.7.3
django-cloudinary-storage==0.3.0
django-crispy-forms==2.6
django-js-asset==3.1.2
idna==3.11
pillow==11.2.1
psycopg2-binary==2.9.11
requests==2.33.1
six==1.17.0
sqlparse==0.5.3
tzdata==2024.2
urllib3==2.6.3
gunicorn==22.0.0
whitenoise==6.6.0
